.container {
    display: flex;
    height: 100%;
}

.left-pane {
  /*  flex: 1;  This takes up half of the container */
    overflow: auto;
    width: 50%; /* Allows scrolling if content is too long */
}

.right-pane {
    /*  flex: 1;  This takes up half of the container */
    overflow: auto;
    width: 50%; /* Allows scrolling if content is too long */
}